img{
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 5px 5px 15px 2px black;
    border-radius: 20px ;
}

h1{
    margin-top: 50px;
    color: rgb(19, 162, 167);
}
