<html>

<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

</head>
<body>
    <div class = "container-fluid">
        <div class="col-md-offset-1 col-md-4">
            {% csrf_token %}
            <form action="addData" method="POST" autocomplete="off">
                {% csrf_token %}
            <h3 class = "page-header text-primary text-center">Registration</h3>
            <div class ="form-group">
                <label>Name</label>
                <input type = "text" class = "form-control" name = "name">
            </div>
            <div class ="form-group">
                <label>Age</label>
                <input type = "text" class = "form-control" name = "age">
            </div>
            <div class ="form-group">
                <label>Address</label>
                <input type = "text" class = "form-control" name = "address">
            </div>
            <div class ="form-group">
                <label>Contact</label>
                <input type = "text" class = "form-control" name = "contact">
            </div>
            <div class ="form-group">
                <label>Mail</label>
                <input type = "text" class = "form-control" name = "mail">
            </div>
            <div class="form-group pull-right">
                <input type ="submit" value="Register" class="btn btn-primary">
                <input type="reset" value="Clear" class = "btn btn-danger">

            </div>
        </form>
        </div>
        <div class="col-md-6">
            {% if datas %}
            <h3 class="page-header text-primary text-center">View Details</h3>
            <table class= "table table-bordered">
                <thead>
                 <tr>
                     <th>S.NO</th>
                     <th>Name</th>
                     <th>Age</th>
                     <th>Address</th>
                     <th>Contact</th>
                     <th>Mail</th>
                     <th>Update</th>
                     <th>Delete</th>

                  </tr>
                </thead>
                {% for i in datas %}
                <tbody>
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{i.Name}}</td>
                     <td>{{i.Age}}</td>
                     <td>{{i.Address}}</td>
                     <td>{{i.Contact}}</td>
                     <td>{{i.Mail}}</td>
                     <td><a class="btn btn-success" href="updateData/{{i.id}}">Update</a></td>
                     <td><a class="btn btn-danger" href="deleteData/{{i.id}}">Delete</a></td>

                     
                 </tr>
                </tbody>
                {% endfor %}

            </table>
            {% endif %}
        </div>
    </div>

</body>
</html>