<html>
    <head>
        <title>Result</title>
        <style>
             table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;

        }
        th,td{
            padding: 10px;
        }
             .center{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);

        }
        </style>
    </head>
    <body>
        {% block content %}

        <table class = "center">

            <tr>
                <th colspan="2">
                    <center>View Details</center>
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{Name}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{Password}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{Address}}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{Mail}}</td>
            </tr>

        </table>

        {% endblock %}
    </body>
</html>